@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700|Raleway:400,500|Roboto:900");
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
* {
  box-sizing: border-box; }

body {
  max-width: 1200px;
  margin: 0 auto;
  background: #fcfcfc; }

.header {
  padding-top: 45px;
  text-transform: uppercase;
  text-align: center; }
  .header__title {
    margin: 0;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #898f8f; }
  .header__logo {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 66px;
    color: #ffcc00; }

.main {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 115px; }
  .main__img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
  .main__photo {
    position: absolute;
    border: 1px solid #ffcc00; }
  .main__info {
    width: 415px;
    margin-left: 165px;
    text-align: center; }
  .main__title {
    font-family: Roboto, sans-serif;
    color: #666666;
    font-size: 36px;
    font-weight: 900;
    line-height: 24px; }
  .main__position {
    margin-top: 65px;
    font-family: Raleway, sans-serif;
    color: #666666;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px; }
  .main__social {
    display: flex;
    justify-content: center;
    list-style: none; }
    .main__social-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 26px;
      height: 26px;
      margin: 5px;
      border-radius: 50%;
      border-width: 2px;
      border-color: #cccccc;
      border-style: solid;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px; }
      .main__social-button--facebook {
        color: #cccccc; }
      .main__social-button--twitter {
        color: #cccccc; }
      .main__social-button--google {
        color: #cccccc; }
      .main__social-button--linkedin {
        color: #cccccc; }
  .main__descrioption {
    font-family: Raleway, sans-serif;
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; }
  .main__profile {
    width: 118px;
    height: 22px;
    border: 1px solid #ffcc00;
    text-decoration: none;
    font-family: OpenSans, sans-serif;
    color: #666666;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase; }

.line {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px; }
  .line__horizontal {
    display: block;
    width: 210px;
    height: 1px;
    background: #ffcc00; }
    .line__horizontal--left {
      margin-right: 7px; }
    .line__horizontal--right {
      margin-left: 7px; }
  .line__icon {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #ffcc00; }
    .line__icon::before {
      content: "";
      position: absolute;
      display: block;
      top: 300%;
      left: 50%;
      width: 1px;
      height: 560px;
      padding-top: 30px;
      background: #ffcc00; }

.frame {
  background: #fcfcfc;
  display: flex;
  justify-content: space-between;
  height: 415px;
  width: 415px; }

.left__side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }

.vertical {
  height: 100px;
  width: 1px;
  background: #ffcc00; }

.right__side {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.horizontal {
  width: 100px;
  height: 1px;
  background: #ffcc00; }

.sides {
  display: flex; }

.vertical--right {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 1px;
  background: #ffcc00; }

.nav--left {
  position: absolute;
  top: calc(50% - 20px);
  left: 0; }
  .nav--left .nav__next--left .fa-angle-left {
    color: #ffcc00;
    font-size: 40px;
    font-weight: 400; }

.nav--right {
  position: absolute;
  top: calc(50% - 20px);
  right: 0; }
  .nav--right .nav__next--right .fa-angle-right {
    color: #ffcc00;
    font-size: 40px;
    font-weight: 400;
    line-height: 24px; }

/*# sourceMappingURL=main.css.map */
